{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n mptt_tags %}

{% block car_cat %}

<h2> Category: {{ category }}</h2>
<hr>
<table id="car_table" class="display" border="2" align="center" style="width: 100%">
  <thead class="thead-default">
    <tr>
      <th align="center">ID</th>
      <th align="center">Brand</th>
      <th align="center">Model</th>
      <th align="center">Year</th>
      <th align="center">Price in $</th>
    </tr>
  </thead>
  <tbody>
  {% for c in category_cars %}
    <tr>
      <td align="center">{{c.id}}</td>
      <td align="center">{{c.brand}}</td>
      <td align="center">{{c.pattern}}</td>
      <td align="center">{{c.year}}</td>
      <td align="center">{{c.price}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <hr>
{% endblock %}